{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

{% if current_user.is_authenticated %}
    {% if in_cart %}
        <form action="/remove_from_shopping_list/{{ item.id }}" method="POST">
            <input type="submit" value="Remove From Cart">
        </form>
    {% else %}
        <form action="/add_to_shopping_list/{{ item.id }}" method="POST">
            <input type="submit" value="Add to Cart">
        </form>
    {% endif %}
{% endif %}

<p>
    {% if item.photo_url %}
        <img src="{{ item.photo_url }}" width="250px" height="250px">
    {% else %}
        <img src="https://cdn.vectorstock.com/i/preview-1x/82/99/no-image-available-like-missing-picture-vector-43938299.jpg" alt="Grocery item photo not available" width="200px" height="227.15px">
    {% endif %}
</p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>


<h2>Edit Item</h2>
<h4>Item created by: {{ item.created_by.username }}</h4>

<form method="POST" action="{{ url_for('main.item_detail', item_id=item.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter item information:</legend>

        {{ render_field(form.name) }}

        {{ render_field(form.price) }}

        {{ render_field(form.category) }}

        {{ render_field(form.photo_url) }}

        {{ render_field(form.store) }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}