{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}

<h1>New Item</h1>

<form method="POST" action="{{ url_for('main.new_item') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter item information:</legend>

        {{ render_field(form.name) }}

        {{ render_field(form.price) }}

        {{ render_field(form.category) }}

        {{ render_field(form.photo_url) }}

        {{ render_field(form.store) }}

        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}
