{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST" action="{{ url_for('main.new_store') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter store information:</legend>

        {{ form.title.label }} {{ form.title }}

        {% if form.title.errors %}
            <!-- show form errors -->
            <ul>
                {% for error in form.title.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.address.label }} {{ form.address }}

        {% if form.address.errors %}
            <!-- show form errors -->
            <ul>
                {% for error in form.address.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
