{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% block content %}

<h1>Store - {{ store.title }}</h1>

<strong>Address:</strong> {{ store.address }}

<h2>Items</h2>

<div class="items">
    {% for item in store.items %}
    <div class="item-details">
         <a href="/item/{{ item.id }}">
        {% if item.photo_url %}
           <img src="{{ item.photo_url }}" alt="{{ item.name }}" width="200px">
        {% else %}
            <img src="https://cdn.vectorstock.com/i/preview-1x/82/99/no-image-available-like-missing-picture-vector-43938299.jpg" alt="Grocery item photo not available" width="200px" height="227.15px">
        {% endif %}
        <p><strong>{{ item.name }}</strong></p></a>
        <p><strong>Price: ${{ item.price }}</strong></p>
    </div>
    {% endfor %}
</div>


<h2>Edit Store</h2>
<h4>Store created by: {{ store.created_by.username }}</h4>

<form method="POST" action="{{ url_for('main.store_detail', store_id=store.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Enter store information:</legend>

        {{ render_field(form.title) }}

        {{ render_field(form.address) }}

        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}